        * {
            box-sizing: border-box;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        nav {
            width: 50vw;
            display: flex;
            justify-content: space-between;
        }
        
        a {
            font-size: 30px;
            text-decoration: none;
            color: rgb(2, 88, 88);
            font-family: sans-serif;
        }
        
        a:hover {
            color: turquoise;
            border-bottom: 2px solid turquoise;
        }
        
        a:visited {
            color: rgb(2, 88, 88);
        }