@font-face {
    font-family: "roboto";
    src: url(./fonts/roboto-regular-webfont.woff2) format("woff2"), url(./fonts/roboto-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "robotoBold";
    src: url(./fonts/roboto-bold-webfont.woff2) format("woff2"), url(./fonts/roboto-bold-webfont.woff) format("woff");
}


/* soluciona problemas con los paddings */

* {
    box-sizing: border-box;
}

html {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

h5,
ul {
    margin-top: 0;
}

h6 {
    margin-bottom: 0;
}


/* footer */

footer {
    background-color: #2385E0;
    font-size: 18px;
    padding: 20px;
}

.links {
    display: flex
}

h5,
h6 {
    font-size: 18px;
}


/* redes */

.container {}

.redes {
    flex-grow: 0.2;
}

.redes__titulo {
    font-family: "robotoBold", sans-serif;
}

.redes__twitter {}

.redes__pinterest {}

.redes__facebook {}


/* Acerca */

.acerca {
    flex-grow: 2;
}

.acerca__titulo {
    font-family: "robotoBold", sans-serif;
}

.acerca__garantia {}

.acerca__inversores {}

.acerca__historias {}


/* terminos */

.terminos {
    flex-grow: 1;
}

.terminos__titulo {
    font-family: "robotoBold", sans-serif;
}

.terminos__cookies {}

.terminos__politica {}

.terminos__condiciones {}

.terminos__legal {}


/* copyright */

.copyright {
    text-align: center;
}