.contenedor {}

article {
    display: flex;
     align-items: center;
}

p {
    padding: 10px;
}

.parrafo1 {}

.parrafo1__edificiosbn {
    display: flex;
}

.parrafo1__edificiosbn__foto {}

.parrafo1__edificiosbn__parrafo {}

.parrafo1__edificiosbn__parrafo__texto {}

.parrafo2 {}

.parrafo2__edificioscolor {
    display: flex;
    flex-direction: row-reverse;
}

.parrafo2__edificioscolor__foto {}

.parrafo2__edificioscolor__parrafo {}

.parrafo2__edificioscolor__parrafo__texto {}